.round-image {
  height: 100px;
  background-color: black;
  border-radius: 50%;
  max-width: 100px;
  object-fit: cover;
}

.cardScale:hover {
  transform: scale(1.1);
  z-index: 10;
}

.card {
  transition: transform 0.3s;
}
